<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'airplane.ico' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;0,700;0,800;1,500;1,800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%
=begin%>
 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
<%
=end%>
    <script defer>
      function validate() {
        const inputs = document.getElementsByClassName('passenger-input')
        const button = document.getElementById('submit-booking')
        
        var valid = true;
        
        for (let i = 0; i < inputs.length ; i++) {
          valid = valid && checkEmpty(inputs[i]);
        }
        button.disabled = true;
        
        if(valid === true) {
          button.disabled = false;
        }	
      }

      function checkEmpty(obj) {
        if(obj.value === "") {
          return false;
        }
        return true;	
      }
    </script>
  </head>

  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
